<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="form-wrapper bg-white text-center p-4 rounded shadow">
    <h2 class="bolder mb-4">Log in to your Account</h2>
    <form #form="ngForm">
      <div class="input-group mb-3">
        <input type="email" id="email" name="email" ngModel required />
        <label for="email">Email</label>
      </div>
      <div class="input-group mb-4">
        <input type="password" id="password" name="password" ngModel required />
        <label for="password">Password</label>
      </div>
      <button
        (click)="login(form)"
        [disabled]="form.invalid"
        type="submit"
        class="btn btn-primary w-100 register-button"
      >
        Registrati
      </button>
    </form>
  </div>
</div>
