<div
  class="login container-fluid d-flex justify-content-center align-items-center"
>
  <div class="form-wrapper text-center p-4 rounded shadow">
    <h2 class="bolder mb-4">Register a New Account</h2>
    <form [formGroup]="registerForm">
      <div class="input-group mb-3">
        <input formControlName="nickname" type="text" id="nickname" required />
        <label for="nickname">Nickname</label>
      </div>
      <div class="input-group mb-3">
        <input formControlName="email" type="email" id="email" required />
        <label for="email">Email</label>
      </div>
      <div class="input-group mb-3">
        <input
          formControlName="password"
          type="password"
          id="password"
          required
        />
        <label for="password">Password</label>
      </div>
      <div class="input-group mb-4">
        <input
          formControlName="description"
          type="text"
          id="description"
          required
        />
        <label for="description">Description</label>
      </div>
      <button
        (click)="register()"
        type="submit"
        class="btn btn-primary w-100 register-button"
      >
        Register
      </button>
    </form>
  </div>
</div>
