nav {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: black;
  padding-inline: 2rem;
}

.navavatar {
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
}

.navavatar:hover {
  opacity: 0.8;
}
