.navbar {
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  z-index: 900;
  position: sticky;
  top: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 8px;
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.menu-button {
  display: none;
}

.mat-button .mat-icon {
  margin-right: 4px;
  color: #ffeb3b;
}

.mat-button {
  color: white;
  font-weight: 500;
}

.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}


.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  position: absolute;
  top: 7vh;
  width: 100%;
  z-index: 800;
  padding: 10px 0;
}

.dropdown-menu button {
  width: 100%;
  text-align: left;
}


@media (max-width: 768px) {
  .app-title {
    font-size: 1.2rem;
  }

  .menu-button {
    display: inline-flex;
  }

  .navbar-brand {
    flex-grow: 1;
    justify-content: center;
  }

  .nav-links {
    display: none;
  }
}
