.slogan-container {
  padding: 4rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 480px;
  max-width: 90%;
  background-color: rgba(120, 125, 173, 0.6);
  color: white;
}

.slogan-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.slogan-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: center;
}

.slogan-container button {
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(0, 240, 250, 1) 30%,
    rgba(251, 133, 243, 1) 100%
  );
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slogan-container.ng-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.slogan-container.ng-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slogan-container.ng-leave {
  opacity: 1;
  transform: translateY(0);
}
.slogan-container.ng-leave-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slogan {
  opacity: 0;
  animation: fadeInEffect 1.5s forwards;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
