#profile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.profileavatar {
  width: 100vw;
}

.edit {
  color: white;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  padding-inline: 1.2rem;
  padding-block: 1rem;
  border: 1px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  top: 1rem;
  left: 5rem;
}

.edit:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 768px) {
  .profileavatar {
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid white;
    outline-offset: 5px;
    max-width: 25rem;
  }
  .edit {
    top: 2rem;
    left: 2.5rem;
  }
}

.favorite-game-img {
  height: 5rem;
}

.delete {
  color: red;
  cursor: pointer;
  background-color: white;
  padding-inline: 5px;
  padding-block: 2px;
  border-radius: 50%;
  transition: transform;
  transition-duration: 300ms;
  border: 1px solid white;
}

.delete:hover {
  transform: scale(1.5);
}

.delete:active {
  background-color: black;
  color: white;
}

li {
  margin-bottom: 5px;
  background-color: black;
}
