<section id="profile" class="container-fluid border" [style]="appear">
  <div (click)="close()" class="close">X</div>
  <div class="row p-md-5">
    <div class="col-12 d-flex justify-content-center col-xl-6">
      <div class="position-relative">
        <img [src]="user.avatar" alt="avatar" class="profileavatar" />
        <i class="bi bi-pencil edit"></i>
      </div>
    </div>
    <div class="col-12 text-center mt-5 col-xl-6">
      <p>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="toggleFavorite()"
          [attr.aria-expanded]="!isFavoriteCollapsed"
          aria-controls="collapseFavorite"
        >
          Lista preferiti
        </button>
        <button
          type="button"
          class="btn btn-outline-primary ms-2"
          (click)="toggleChat()"
          [attr.aria-expanded]="!isChatCollapsed"
          aria-controls="collapseChat"
        >
          Chat
        </button>
      </p>

      <!-- Pannello Lista Preferiti -->
      <div
        #collapseFavorite="ngbCollapse"
        [(ngbCollapse)]="isFavoriteCollapsed"
      >
        <ul class="text-white list-unstyled">
          <li
            *ngFor="let game of favoriteGames"
            class="border py-2 px-5 d-flex justify-content-start align-items-center gap-5"
          >
            <img
              src="game.game.cover"
              alt="{{ game.game.title }}"
              class="favorite-game-img"
            />
            <span class="flex-grow-1">{{ game.game.title }}</span>
            <button
              class="delete btn btn-link text-danger"
              (click)="removeFavGame(game)"
              aria-label="Rimuovi preferito"
            >
              <i class="bi bi-trash3"></i>
            </button>
          </li>
          <button class="btn btn-primary">Aggiungi Preferito</button>
        </ul>
      </div>

      <!-- Pannello Chat -->
      <div
        #collapseChat="ngbCollapse"
        [(ngbCollapse)]="isChatCollapsed"
        class="mt-3"
      >
        <ul class="text-white list-unstyled">
          <li
            class="bg-white text-black d-flex justify-content-start py-2 px-4 align-items-center gap-3 rounded-5"
          >
            <span
              ><img
                src="/images/avatartest.webp"
                alt="avatar"
                class="chat-avatar"
            /></span>
            <span class="flex-grow-1">Ivan</span>
            <span class="delete"><i class="bi bi-trash3"></i></span>
          </li>
          <li
            class="bg-white text-black d-flex justify-content-start py-2 px-4 align-items-center gap-3 rounded-5"
          >
            <span
              ><img
                src="/images/avatartest.webp"
                alt="avatar"
                class="chat-avatar"
            /></span>
            <span class="flex-grow-1">Giorgio</span>
            <span class="delete"><i class="bi bi-trash3"></i></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <p class="m-0 bg-black text-white p-5 mt-5 rounded-5 position-relative">
        {{ user.description }}
        <button class="btn btn-primary editbio">Modifica bio</button>
      </p>
    </div>
  </div>
</section>
