// 1. Importa Angular Material usando `@use`
@use "@angular/material" as mat;

// 2. Includi gli stili di base di Angular Material
@include mat.core();

// 3. Definisci il tema personalizzato per Angular Material
$projectbw-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// 4. Applica il tema ai componenti Angular Material
:root {
  @include mat.all-component-themes($projectbw-theme);
}

// Opzioni aggiuntive per Angular Material (decommenta se necessario)
// @include mat.typography-hierarchy($projectbw-theme);
// @include mat.color-variants-backwards-compatibility($projectbw-theme);

// 5. Importa Bootstrap SCSS (assicurati che il percorso sia corretto)
@import "bootstrap/scss/bootstrap";

// 6. Stili globali
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// 7. Importa file di stile personalizzati
@import "./app/partials/custom";
